---
import { Image } from "astro:assets"
import logo from '../assets/updated-logo.png'

const { activeMenu } = Astro.props
const baseUrl = import.meta.env.BASE_URL
---

<div class="header">
    <div class="menu">
        <a class="menu-logoAndTitle" href={baseUrl}>
            <Image src={logo} class="logoAndTitle-logo" alt={"R13 Knifeworks logo"}/>
            <h2 class="logoAndTitle-title">R13 Knifeworks</h2>
        </a>
        <ul class="menuButtons" active-menu={activeMenu}>
            <li class="menuButtons-button--gallery"><a href={baseUrl}>Gallery</a></li>
            <li class="menuButtons-button--about"><a href={`${baseUrl}about`}>About</a></li>
            <li class="menuButtons-button--preMadeKnives"><a href={`${baseUrl}pre-made-knives`}>Pre Made Knives</a></li>
            <li class="menuButtons-button--contact"><a href={`${baseUrl}contact`}>Contact</a></li>
        </ul>
    </div>
</div>
